/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
@import url(./fonts/texgyreadventorregular.css);
@import url(./fonts/opensans_light_macroman.css);
@import url(./fonts/opensans_regular_macroman.css);
@import url(./fonts/opensans_semibold_macroman.css);
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/*$primary-color: #ecf0f1;*/
/*$primary-color: #3b434f;*/
/*Nav Width Variables*/
/*$li-margin: -1 * 0.1px;*/
/*Nav Height Variables*/
/*Note that $ul-padding contributes as well*/
/*Note that at the moment, the ul/nav heights do now have any affect on display, and the li heights adjust to li font size*/
body {
  padding: 8px;
  background-color: white; }

a {
  color: #3b434f; }

a:link {
  text-decoration: none; }

a:visited {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

a:active {
  text-decoration: underline; }

div#contentContainer {
  display: block;
  width: 100%;
  height: 400px; }
  div#contentContainer img {
    /*		position: static;*/
    max-height: 200px;
    max-width: 175.79365px;
    position: relative;
    top: 100px;
    left: 50%;
    margin-left: -87.89683px;
    display: none; }
  div#contentContainer ul li {
    color: #3b434f;
    font-family: 'open_sansregular';
    list-style: none;
    max-height: 200px;
    max-width: 345px;
    position: relative;
    top: 100px;
    left: 50%;
    margin-left: -87.89683px; }

nav {
  display: block;
  width: 539.2px;
  margin: 0 auto; }
  nav li {
    list-style: none;
    float: left;
    display: block;
    width: 115px;
    /*width: ($nav-width - ($nav-LIs * 2)*$li-padding - $ul-padding * 2) / $nav-LIs;*/
    /*height: ;*/
    font-family: 'open_sansregular';
    font-size: 19.16667px;
    padding: 4px;
    text-align: center;
    color: #3b434f;
    background-color: white;
    border: 1.9px solid #3b434f;
    margin: 3px;
    cursor: pointer; }
  nav ul {
    display: block;
    width: 539.2px;
    height: 57.5px;
    padding: 4px;
    margin: 0 auto; }
