/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
@import url(./fonts/opensans_light_macroman.css);
@import url(./fonts/opensans_regular_macroman.css);
@import url(./fonts/opensans_semibold_macroman.css);
@import url(./fonts/learningcurvepro_regular_macroman.css);
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/*@import './fonts/texgyreadventorregular.css';
*/
/******** colors ********/
/************************/
/*$primary-color: #ecf0f1;*/
/*$primary-color: #3b434f;*/
/******* NAV ********/
/*********************/
/*Having nav-width dependend upon its componants allows for easy responsive design by the touch of $li-width*/
/*Nav Height Variables*/
/*Note that $ul-padding contributes as well*/
/*Note that at the moment, the ul/nav heights do not have any affect on display, and the li heights adjust to li font size*/
/******** Contact *********/
/**************************/
/******* Intro ***********/
/*************************/
/******* Project *********/
/*************************/
/******** Blog ***********/
/*************************/
/*remove height when you have enough blog entries to fill blog section*/
body {
  background-color: white;
  font-family: 'open_sansregular'; }

div#contentContainer {
  /*display: block;*/
  /*position: absolute;*/
  width: 100%;
  /*height: $container-height;*/
  margin-top: 71.5px; }
  div#contentContainer #introduction {
    height: 550px;
    width: 100%;
    margin-top: 71.5px;
    padding: 1px; }
    div#contentContainer #introduction #name {
      /*display: list-item;*/
      list-style: none;
      margin: 75px;
      margin-top: 100px; }
      div#contentContainer #introduction #name ul {
        display: block;
        margin: 0 auto;
        width: 665px;
        height: 57px; }
        div#contentContainer #introduction #name ul #offCenter {
          display: block;
          width: 665px;
          height: 57px;
          margin-left: -25px; }
          div#contentContainer #introduction #name ul #offCenter li {
            font-family: 'open_sansregular';
            font-size: 57px;
            float: left;
            display: block;
            height: 57px;
            text-align: center; }
          div#contentContainer #introduction #name ul #offCenter li#slashes {
            color: #45c2c6;
            width: 95px;
            font-family: 'open_sansregular';
            font-size: 76px;
            height: 76px;
            margin-right: -30px;
            margin-top: -5px; }
          div#contentContainer #introduction #name ul #offCenter li#words {
            color: #424151;
            width: 570px;
            /*height: $ul-height;*/ }
    div#contentContainer #introduction #description {
      list-style: none; }
      div#contentContainer #introduction #description ul {
        display: block;
        margin: 0 auto;
        width: 665px;
        height: 57px;
        list-style: none; }
        div#contentContainer #introduction #description ul li {
          font-family: 'open_sansregular';
          color: #424151;
          text-align: center;
          margin: 65px; }
        div#contentContainer #introduction #description ul #title {
          font-size: 38px;
          color: #5b5b5b; }
        div#contentContainer #introduction #description ul #catch {
          font-size: 22.8px;
          color: #acacac; }
          div#contentContainer #introduction #description ul #catch a:link {
            text-decoration: none;
            color: #acacac;
            font-size: 38px; }
          div#contentContainer #introduction #description ul #catch a:visited {
            text-decoration: none; }
          div#contentContainer #introduction #description ul #catch a:hover {
            text-decoration: underline;
            color: #45c2c6; }
          div#contentContainer #introduction #description ul #catch a:active {
            text-decoration: underline; }
  div#contentContainer #Projects {
    width: 100%;
    padding: 1px;
    background-color: #ddd6c8; }
    div#contentContainer #Projects div#innerProjects {
      position: relative;
      margin-top: 20px;
      margin-bottom: 30px;
      width: 100%;
      padding: 1px;
      background-color: #ddd6c8; }
    div#contentContainer #Projects ul.projectContainer {
      width: 100%;
      padding: 1px;
      height: 274.5px; }
      div#contentContainer #Projects ul.projectContainer div.centering {
        position: relative;
        height: 274.5px;
        width: 978px;
        margin: 0 auto; }
        div#contentContainer #Projects ul.projectContainer div.centering li.image {
          list-style: none;
          margin: 30px;
          width: 433px;
          float: left; }
          div#contentContainer #Projects ul.projectContainer div.centering li.image img {
            width: 425px;
            height: 212.5px;
            border: 4px solid white; }
        div#contentContainer #Projects ul.projectContainer div.centering ul {
          list-style: none;
          margin: 30px;
          float: left;
          width: 425px;
          height: 212.5px;
          color: #424151;
          /*					background: url("./../assets/leaf/one.png");
          					background-size: $project-pic-width $project-pic-height;*/
          /* this is purely for styling the background image upon mobile resize*/ }
          div#contentContainer #Projects ul.projectContainer div.centering ul div.background {
            width: 425px;
            height: 212.5px; }
          div#contentContainer #Projects ul.projectContainer div.centering ul li.title {
            font-size: 28.5px;
            margin-bottom: 20px;
            font-family: "open_sanssemibold"; }
          div#contentContainer #Projects ul.projectContainer div.centering ul li.body {
            line-height: 130%;
            font-size: 15.96px; }
    div#contentContainer #Projects a:link {
      text-decoration: none;
      color: #424151; }
    div#contentContainer #Projects a:visited {
      text-decoration: none;
      color: #424151; }
    div#contentContainer #Projects a:hover {
      text-decoration: underline;
      color: #45c2c6; }
    div#contentContainer #Projects a:active {
      text-decoration: underline; }
  div#contentContainer #Blog {
    width: 100%;
    padding: 1px;
    background-color: #424151; }
    div#contentContainer #Blog div#innerBlog {
      position: relative;
      margin: 1px;
      width: 100%;
      height: 550px;
      padding: 1px;
      margin-top: 20px; }
    div#contentContainer #Blog div.blogCentering {
      position: relative;
      height: 223.5px;
      width: 858.33333px;
      margin: 20px auto; }
      div#contentContainer #Blog div.blogCentering ul.blogContainer {
        width: 100%;
        height: 179.5px; }
        div#contentContainer #Blog div.blogCentering ul.blogContainer ul {
          list-style: none;
          display: list-item;
          margin: 20px;
          float: left;
          font-size: 38px;
          font-family: "open_sansregular"; }
        div#contentContainer #Blog div.blogCentering ul.blogContainer ul.date {
          text-align: right;
          font-size: 14.25px;
          padding: 22px;
          color: white;
          width: 183.33333px;
          min-height: 137.5px;
          border-right: 1px solid white; }
        div#contentContainer #Blog div.blogCentering ul.blogContainer ul.title {
          text-align: left;
          color: white;
          width: 550px;
          min-height: 137.5px; }
          div#contentContainer #Blog div.blogCentering ul.blogContainer ul.title li.header {
            line-height: 130%;
            font-family: "open_sanssemibold";
            color: white; }
          div#contentContainer #Blog div.blogCentering ul.blogContainer ul.title li.subheader {
            margin-top: 10px;
            font-size: 19px;
            line-height: 140%;
            color: #acacac; }
    div#contentContainer #Blog a:link {
      text-decoration: none;
      color: white; }
    div#contentContainer #Blog a:visited {
      text-decoration: none;
      color: white; }
    div#contentContainer #Blog a:hover {
      color: #45c2c6; }
    div#contentContainer #Blog a:active {
      text-decoration: underline; }
  div#contentContainer #contact {
    width: 100%;
    padding: 1px;
    padding-top: 30px;
    background-color: #45c2c6;
    height: 595px; }
    div#contentContainer #contact ul {
      position: relative;
      width: 852.75px;
      height: 200px;
      margin: 20px auto;
      padding: 4px; }
      div#contentContainer #contact ul a {
        display: list-item;
        color: white;
        width: 143.75px;
        float: left;
        font-family: 'open_sanssemibold';
        list-style: none;
        border: 1px solid white;
        padding: 4px;
        margin: 8px;
        font-size: 28.75px;
        text-align: center;
        background-color: #45c2c6; }
      div#contentContainer #contact ul a:link {
        text-decoration: none; }
      div#contentContainer #contact ul a:visited {
        text-decoration: none; }
      div#contentContainer #contact ul a:hover {
        text-decoration: none; }
      div#contentContainer #contact ul a:active {
        text-decoration: underline; }
    div#contentContainer #contact ul#thisPage {
      width: 380px;
      padding-top: 50px; }
      div#contentContainer #contact ul#thisPage a {
        width: inherit;
        border: none;
        font-family: 'learning_curve_proregular';
        font-size: 100.625px;
        padding: 1px; }
      div#contentContainer #contact ul#thisPage a:hover {
        text-decoration: underline; }

nav {
  display: block;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 57.5px;
  background-color: #ec4137;
  border-bottom: 6px solid #DDD6C8;
  z-index: 4; }
  nav ul {
    position: relative;
    margin: 0 auto;
    margin-top: 6px;
    width: 395px;
    height: 49.5px;
    padding: 4px; }
  nav img {
    height: 57.5px;
    margin-top: 63px; }
  nav li {
    list-style: none;
    float: left;
    display: inline;
    vertical-align: center;
    width: 115px;
    height: 41.5px;
    font-family: 'open_sansregular';
    font-size: 25.3px;
    padding: 4px;
    text-align: center;
    color: white;
    margin: 3px;
    cursor: pointer;
    margin-top: -12px;
    padding-top: 15px; }
  nav ul.image {
    position: absolute;
    height: 115px;
    width: 76.66667px;
    left: 100px; }
  nav li.image {
    position: relative;
    padding: 0 0 12px 0;
    border-radius: 30px;
    height: 115px;
    width: 76.66667px;
    background-color: white;
    margin-top: -70px;
    margin-right: 10px;
    border: 3px solid #45c2c6; }
  nav a {
    color: white; }
  nav a:link {
    text-decoration: none; }
  nav a:visited {
    text-decoration: none; }
  nav a:active {
    text-decoration: none; }

/******* @Media (max-width: 1000px) ***********/
/*********************************************/
/******* Project *********/
/*************************/
/******** Blog ***********/
/*************************/
/*remove height when you have enough blog entries to fill blog section*/
@media (max-width: 1000px) {
  div#contentContainer #Projects div#innerProjects {
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px; }
  div#contentContainer #Projects ul.projectContainer {
    height: 212px; }
    div#contentContainer #Projects ul.projectContainer div.centering {
      height: 212px;
      width: 768px; }
      div#contentContainer #Projects ul.projectContainer div.centering li.image {
        margin: 20px;
        width: 348px; }
        div#contentContainer #Projects ul.projectContainer div.centering li.image img {
          width: 340px;
          height: 170px;
          border: 4px solid white; }
      div#contentContainer #Projects ul.projectContainer div.centering ul {
        margin: 20px;
        width: 340px;
        height: 170px;
        color: #424151; }
        div#contentContainer #Projects ul.projectContainer div.centering ul div.background {
          width: 340px;
          height: 170px; }
        div#contentContainer #Projects ul.projectContainer div.centering ul li.title {
          font-size: 28.5px;
          margin-bottom: 20px; }
        div#contentContainer #Projects ul.projectContainer div.centering ul li.body {
          line-height: 130%;
          font-size: 15.96px; }
  div#contentContainer #Blog div#innerBlog {
    height: 500px; }
  div#contentContainer #Blog div.blogCentering {
    height: 206px;
    width: 731.66667px; }
    div#contentContainer #Blog div.blogCentering ul.blogContainer {
      height: 162px; }
      div#contentContainer #Blog div.blogCentering ul.blogContainer ul {
        margin: 25px;
        font-size: 30.4px; }
      div#contentContainer #Blog div.blogCentering ul.blogContainer ul.date {
        font-size: 15.2px;
        width: 146.66667px;
        min-height: 110px; }
      div#contentContainer #Blog div.blogCentering ul.blogContainer ul.title {
        width: 440px;
        min-height: 110px; }
        div#contentContainer #Blog div.blogCentering ul.blogContainer ul.title li.subheader {
          font-size: 17.1px; } }
/******* @Media (max-width: 900px) ***********/
/*********************************************/
/******** Contact *********/
/**************************/
@media (max-width: 900px) {
  div#contentContainer #contact ul {
    width: 709px; }
    div#contentContainer #contact ul a {
      width: 115px;
      font-size: 23px; }
  div#contentContainer #contact ul#thisPage a {
    width: inherit; } }
/******* @Media (max-width: 850px) ***********/
/*********************************************/
/******* Intro ***********/
/*************************/
/******** media query *********/
/******************************/
@media (max-width: 850px) {
  div#contentContainer #introduction {
    height: 500px; }
    div#contentContainer #introduction #name ul {
      width: 516.8px;
      height: 45.6px; }
      div#contentContainer #introduction #name ul #offCenter {
        width: 532px;
        height: 45.6px;
        margin-left: -30px; }
        div#contentContainer #introduction #name ul #offCenter li {
          font-size: 45.6px;
          height: 45.6px; }
        div#contentContainer #introduction #name ul #offCenter li#slashes {
          width: 76px;
          font-size: 60.8px;
          height: 60.8px;
          margin-right: -15px;
          margin-top: -5px; }
        div#contentContainer #introduction #name ul #offCenter li#words {
          width: 456px; }
    div#contentContainer #introduction #description ul {
      width: 532px;
      height: 45.6px;
      list-style: none; }
      div#contentContainer #introduction #description ul li {
        margin: 65px; }
      div#contentContainer #introduction #description ul #title {
        font-size: 30.4px; }
      div#contentContainer #introduction #description ul #catch {
        font-size: 18.24px; }
        div#contentContainer #introduction #description ul #catch a:link {
          font-size: 30.4px; }

  nav ul.image {
    left: 10px; } }
/******* @Media (max-width: 800px) ***********/
/*********************************************/
/******* Project *********/
/*************************/
/******** media query *********/
/******************************/
@media (max-width: 800px) {
  div#contentContainer #Projects div#innerProjects {
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px; }
  div#contentContainer #Projects ul.projectContainer {
    height: 170.33333px; }
    div#contentContainer #Projects ul.projectContainer div.centering {
      height: 170.33333px;
      width: 616.66667px; }
      div#contentContainer #Projects ul.projectContainer div.centering li.image {
        margin: 13.33333px;
        width: 291.33333px; }
        div#contentContainer #Projects ul.projectContainer div.centering li.image img {
          width: 283.33333px;
          height: 141.66667px;
          border: 4px solid white; }
      div#contentContainer #Projects ul.projectContainer div.centering ul {
        margin: 13.33333px;
        width: 272px;
        height: 141.66667px;
        color: #424151;
        /*							a:link {
        								color: $best-grey-blue;
        							}
        
        							a:visited {
        							    text-decoration: none;
        							    color: $best-grey-blue;
        							}*/ }
        div#contentContainer #Projects ul.projectContainer div.centering ul div.background {
          width: 272px;
          height: 141.66667px; }
        div#contentContainer #Projects ul.projectContainer div.centering ul li.title {
          font-size: 22.8px;
          margin-bottom: 20px; }
        div#contentContainer #Projects ul.projectContainer div.centering ul li.body {
          line-height: 130%;
          font-size: 15.96px; } }
/******* @Media (max-width: 750px) ***********/
/*********************************************/
/******** Contact *********/
/**************************/
/******** Blog ***********/
/*************************/
/*remove height when you have enough blog entries to fill blog section*/
@media (max-width: 750px) {
  div#contentContainer #Blog div#innerBlog {
    height: 500px; }
  div#contentContainer #Blog div.blogCentering {
    height: 184px;
    width: 614.33333px; }
    div#contentContainer #Blog div.blogCentering ul.blogContainer {
      height: 140px; }
      div#contentContainer #Blog div.blogCentering ul.blogContainer ul {
        margin: 25px;
        font-size: 25.33333px; }
      div#contentContainer #Blog div.blogCentering ul.blogContainer ul.date {
        font-size: 15.2px;
        width: 117.33333px;
        min-height: 88px; }
      div#contentContainer #Blog div.blogCentering ul.blogContainer ul.title {
        width: 352px;
        min-height: 88px; }
        div#contentContainer #Blog div.blogCentering ul.blogContainer ul.title li.subheader {
          font-size: 15.96px;
          line-height: 130%; }
  div#contentContainer #contact ul {
    width: 573.16667px; }
    div#contentContainer #contact ul a {
      width: 95.83333px;
      font-size: 19.16667px;
      font-family: 'open_sansregular';
      margin: 4px; }
  div#contentContainer #contact ul#thisPage a {
    width: inherit; } }
/******* @Media (max-width: 700px) ***********/
/*********************************************/
/******* Intro ***********/
/*************************/
/******** media query *********/
/******************************/
@media (max-width: 700px) {
  div#contentContainer #introduction {
    height: 450px; }
    div#contentContainer #introduction #name ul {
      width: 451.44px;
      height: 40.53333px; }
      div#contentContainer #introduction #name ul #offCenter {
        width: 451.44px;
        height: 40.53333px;
        margin-left: -30px; }
        div#contentContainer #introduction #name ul #offCenter li {
          font-size: 40.53333px;
          height: 40.53333px; }
        div#contentContainer #introduction #name ul #offCenter li#slashes {
          width: 86.64px;
          font-size: 54.04444px;
          height: 54.04444px;
          margin-right: -15px;
          margin-top: -5px; }
        div#contentContainer #introduction #name ul #offCenter li#words {
          width: 364.8px; }
    div#contentContainer #introduction #description ul {
      width: 451.44px;
      height: 40.53333px;
      list-style: none; }
      div#contentContainer #introduction #description ul li {
        margin: 65px; }
      div#contentContainer #introduction #description ul #title {
        font-size: 30.4px; }
      div#contentContainer #introduction #description ul #catch {
        font-size: 16.21333px; }
        div#contentContainer #introduction #description ul #catch a:link {
          font-size: 30.4px; }

  nav ul.image {
    display: none; } }
/******* @Media (max-width: 650px) ***********/
/*********************************************/
/******* Project *********/
/*************************/
/******** Blog ***********/
/*************************/
/*remove height when you have enough blog entries to fill blog section*/
/******** Contact *********/
/**************************/
/*$c-ul-width: ($c-li-width * $c-LIs) + ($c-LIs * 2) * ($c-li-padding + $c-li-margin + $c-li-border) + $c-ul-padding;*/
/******** media query *********/
/******************************/
@media (max-width: 700px) {
  div#contentContainer #Projects div#innerProjects {
    position: relative;
    margin-top: 0px;
    margin-bottom: 30px; }
  div#contentContainer #Projects ul.projectContainer {
    height: 240.77778px;
    margin-top: 30px; }
    div#contentContainer #Projects ul.projectContainer div.centering {
      height: 240.77778px;
      width: 467.77778px; }
      div#contentContainer #Projects ul.projectContainer div.centering li.image {
        display: none; }
      div#contentContainer #Projects ul.projectContainer div.centering ul {
        margin: 8.88889px;
        width: 442px;
        height: 221px;
        color: white;
        border: 4px solid white; }
        div#contentContainer #Projects ul.projectContainer div.centering ul div.background {
          width: 442px;
          height: 221px;
          background-color: rgba(255, 255, 255, 0.1); }
        div#contentContainer #Projects ul.projectContainer div.centering ul li.title {
          font-size: 20.26667px;
          margin-bottom: 20px;
          padding: 5px 5px 5px 10px;
          margin-bottom: 0;
          width: 198.9px;
          margin-left: 5px;
          background: black;
          /* fallback color */
          background: #45c2c6;
          /*   								border-top: 2px solid white;
             								border-left: 2px solid white;
             								border-right: 2px solid white;*/ }
        div#contentContainer #Projects ul.projectContainer div.centering ul li.body {
          /*line-height: 160%;*/
          font-size: 17.556px;
          /*position: relative;*/
          padding: 5px 5px 5px 10px;
          /*height: $proj-text-block-height * 1/2;*/
          width: 368.33333px;
          /*margin-right: -100px;*/
          margin-left: 5px;
          background: black;
          /* fallback color */
          background: #45c2c6; }
        div#contentContainer #Projects ul.projectContainer div.centering ul a:link {
          text-decoration: none;
          color: white; }
        div#contentContainer #Projects ul.projectContainer div.centering ul a:visited {
          text-decoration: none;
          color: white; }
        div#contentContainer #Projects ul.projectContainer div.centering ul a:hover {
          text-decoration: underline;
          color: white; }
        div#contentContainer #Projects ul.projectContainer div.centering ul li.filler {
          height: 121.55px; }
  div#contentContainer #Blog div#innerBlog {
    height: 450px; }
  div#contentContainer #Blog div.blogCentering {
    height: 140px;
    width: 402px; }
    div#contentContainer #Blog div.blogCentering ul.blogContainer {
      height: 140px; }
      div#contentContainer #Blog div.blogCentering ul.blogContainer ul {
        margin: 25px;
        font-size: 25.33333px; }
      div#contentContainer #Blog div.blogCentering ul.blogContainer ul.date {
        display: none; }
      div#contentContainer #Blog div.blogCentering ul.blogContainer ul.title {
        width: 352px;
        min-height: 88px; }
        div#contentContainer #Blog div.blogCentering ul.blogContainer ul.title li.header {
          padding-bottom: 7px;
          border-bottom: 1px solid white; }
        div#contentContainer #Blog div.blogCentering ul.blogContainer ul.title li.subheader {
          font-size: 15.96px;
          line-height: 130%; }
  div#contentContainer #contact {
    height: 550px; }
    div#contentContainer #contact ul#info {
      position: relative;
      width: 227.66667px;
      height: 339.66667px;
      margin: 10px auto;
      padding: 4px; }
      div#contentContainer #contact ul#info a {
        width: 191.66667px;
        /*height: $c-li-height;*/
        border: 2px solid white;
        padding: 4px;
        margin: 8px;
        font-size: 38.33333px; }
    div#contentContainer #contact ul#thisPage {
      width: 380px;
      padding-top: 20px;
      height: 100px; }
      div#contentContainer #contact ul#thisPage a {
        width: inherit;
        border: none;
        font-family: 'learning_curve_proregular';
        font-size: 100.625px;
        padding: 1px; }
      div#contentContainer #contact ul#thisPage a:hover {
        text-decoration: underline; } }
/******* @Media (max-width: 600px) ***********/
/*********************************************/
/******* Intro ***********/
/*************************/
/*$name-slashes-width: $name-words-width * 19/100;*/
/******** media query *********/
/******************************/
@media (max-width: 600px) {
  div#contentContainer #introduction {
    height: 450px; }
    div#contentContainer #introduction #name {
      margin-left: 0;
      margin-right: 0; }
      div#contentContainer #introduction #name ul {
        width: 364.8px;
        height: 30.4px; }
        div#contentContainer #introduction #name ul #offCenter {
          width: 364.8px;
          height: 30.4px;
          margin-left: 0; }
          div#contentContainer #introduction #name ul #offCenter li {
            font-size: 36.48px;
            height: 30.4px;
            padding-top: 10px;
            /*border-top: 5px solid $slashes-color;*/ }
          div#contentContainer #introduction #name ul #offCenter li#slashes {
            display: none; }
          div#contentContainer #introduction #name ul #offCenter li#words {
            width: 364.8px; }
    div#contentContainer #introduction #description ul {
      width: 364.8px;
      height: 30.4px;
      list-style: none; }
      div#contentContainer #introduction #description ul li {
        margin: 50px 0 50px 0; }
      div#contentContainer #introduction #description ul #title {
        /*margin-top: 100px;*/
        font-size: 26.6px; }
      div#contentContainer #introduction #description ul #catch {
        font-size: 18.24px;
        /*color: $slashes-color;*/ }
        div#contentContainer #introduction #description ul #catch a:link {
          color: #45c2c6;
          font-size: 30.4px; } }
/******* @Media (max-width: 600px) ***********/
/*********************************************/
/******* Project *********/
/*************************/
/******** media query *********/
/******************************/
@media (max-width: 500px) {
  div#contentContainer #Projects div#innerProjects {
    position: relative;
    margin-top: 0px;
    margin-bottom: 30px; }
  div#contentContainer #Projects ul.projectContainer {
    height: 190.65185px;
    margin-top: 30px; }
    div#contentContainer #Projects ul.projectContainer div.centering {
      height: 190.65185px;
      width: 373.45185px;
      /*						li.image {
      							display: none;
      						}*/ }
      div#contentContainer #Projects ul.projectContainer div.centering ul {
        margin: 5.92593px;
        width: 353.6px;
        height: 176.8px;
        color: white;
        border: 4px solid white; }
        div#contentContainer #Projects ul.projectContainer div.centering ul div.background {
          width: 353.6px;
          height: 176.8px;
          /*background-color: rgba(255, 255, 255, 0.1);*/ }
        div#contentContainer #Projects ul.projectContainer div.centering ul li.title {
          font-size: 21.28px;
          margin-bottom: 20px;
          padding: 5px 5px 5px 10px;
          margin-bottom: 0;
          width: 194.48px;
          margin-left: 5px; }
        div#contentContainer #Projects ul.projectContainer div.centering ul li.body {
          /*line-height: 160%;*/
          font-size: 14.364px;
          /*position: relative;*/
          padding: 5px 5px 5px 10px;
          /*height: $proj-text-block-height * 1/2;*/
          width: 294.66667px; }
        div#contentContainer #Projects ul.projectContainer div.centering ul a:visited {
          text-decoration: none;
          color: white; }
        div#contentContainer #Projects ul.projectContainer div.centering ul a:hover {
          text-decoration: underline;
          color: white; }
        div#contentContainer #Projects ul.projectContainer div.centering ul li.filler {
          height: 97.24px; } }
