
/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

/*@import './fonts/texgyreadventorregular.css';
*/
@import './fonts/opensans_light_macroman.css';
@import './fonts/opensans_regular_macroman.css';
@import './fonts/opensans_semibold_macroman.css';
@import './fonts/learningcurvepro_regular_macroman.css';

/******** colors ********/
/************************/
$primary-color: white;
$best-grey-blue: #424151;
$lighter-gray: #5B5B5B;
$even-lighter-gray: #ACACAC;
$slashes-color: #45C2C6;
$great-brown: #DDD6C8;
$nav-red: #EF4B4C;
$darker-red: #CF3620;
$organgish-red: #EC4137;
$vintage-blue: #4E989C;
$pinkish-red: #EB3845;
/*$primary-color: #ecf0f1;*/
/*$primary-color: #3b434f;*/

/******* NAV ********/
/*********************/
$li-width: 115px;
$li-padding: 4px;
$nav-LIs: 3;
$li-border: 1px;
$li-margin: 3px;
$ul-padding: 4px;
$li-font-size: $li-width * 22/100;

/*Having nav-width dependend upon its componants allows for easy responsive design by the touch of $li-width*/
$ul-width: ($li-width * $nav-LIs) + ($nav-LIs * 2) * ($li-padding + $li-margin) + $ul-padding * 2;

/*Nav Height Variables*/	
/*Note that $ul-padding contributes as well*/
/*Note that at the moment, the ul/nav heights do not have any affect on display, and the li heights adjust to li font size*/
$ul-height: $li-width/2;


/******** Contact *********/
/**************************/
$c-li-width: $li-width * 5/4;
$c-li-padding: 4px;
$c-LIs: 5;
$c-li-border: 1px;
$c-li-margin: 8px;
$c-ul-padding: 4px;
$c-li-font-size: $li-width * 25/100;
$c-ul-width: ($c-li-width * $c-LIs) + ($c-LIs * 2) * ($c-li-padding + $c-li-margin + $c-li-border) + $c-ul-padding;
$c-this-page-font-size: $c-li-font-size * 3.5; 

/******* Intro ***********/
/*************************/
$intro-height: 550px;

$name-font-size: 38px * 3/2;
$name-words-width: 380px * 3/2;
$name-slashes-width: $name-words-width/6;
$name-margin: 40px;
$title-font-size: $name-font-size * 2/3;


/******* Project *********/
/*************************/
$project-pic-width: 425px;
$project-hor-item-width: $project-pic-width; 
$project-pic-height: $project-pic-width * 1/2;
$project-hor-item-margin: 30px;
$proj-image-border: 4px;
$proj-body-font-size: $name-font-size * 28/100;

/******** Blog ***********/
/*************************/
/*remove height when you have enough blog entries to fill blog section*/
$blog-height: $intro-height;
$blog-title-width: 550px;
$blog-title-font-size: $title-font-size;
$blog-subheader-font-size: $blog-title-font-size / 2;
$blog-date-font-size: $blog-title-font-size * 3/8;
$blog-date-width: $blog-title-width/3;
$blog-item-height: $blog-title-width * 1/4;
$blog-item-margin: 20px;
$blog-date-padding: 22px;
$blog-date-border: 1px;



body {
	background-color: $primary-color;
	font-family: 'open_sansregular';
}


div#contentContainer {

	/*display: block;*/
	/*position: absolute;*/
	width: 100%;
	/*height: $container-height;*/
	margin-top: $ul-height + 2 * $ul-padding + 6px;
	

	#introduction {
		
		height: $intro-height;
		width: 100%;
		margin-top: $ul-height + 2 * $ul-padding + 6px;
		padding: 1px;
	

		#name {

			/*display: list-item;*/
			list-style: none;
			margin: 75px;
			margin-top: 100px;

			ul {

				display: block;
				margin: 0 auto;
				width: $name-words-width + $name-slashes-width;
				height: $name-font-size;

				#offCenter{

					display: block;
					width: $name-words-width + $name-slashes-width;
					height: $name-font-size;
					margin-left: -25px;

					li {

						font-family: 'open_sansregular';
						font-size: $name-font-size;
						float: left;
						display: block;
						height: $name-font-size;
						text-align: center;
					}
					
					li#slashes {
						color: $slashes-color;
						width: $name-slashes-width;
						font-family: 'open_sansregular';
						font-size: $name-font-size * 4/3;
						height: $name-font-size * 4/3;
						margin-right: -30px;
						margin-top: -5px;

					}

					li#words {
						color: $best-grey-blue;	
						width: $name-words-width;
						/*height: $ul-height;*/
					}
				}

			}
		}

		#description {

			list-style: none;

			ul {
				display: block;
				margin: 0 auto;
				width: $name-words-width + $name-slashes-width;
				height: $name-font-size;
				list-style: none;

				li {
					font-family: 'open_sansregular';
					color: $best-grey-blue;	
					text-align: center;
					margin: 65px;
				}

				#title {
					font-size: $title-font-size;
					color: $lighter-gray;
				}

				#catch {
					font-size: $name-font-size * 2/5;
					color: $even-lighter-gray;
					
					a:link {
					    text-decoration: none;
					    color: $even-lighter-gray;
					    font-size: $title-font-size;
					}

					a:visited {
					    text-decoration: none;
					}

					a:hover {
					    text-decoration: underline;
					    color: $slashes-color;
					}

					a:active {
					    text-decoration: underline;
					}

					span {
					}
				}
			}
		}
	}


	#Projects {

		width: 100%;
		padding: 1px;
		background-color: $great-brown;

		div#innerProjects {
			position: relative;
			margin-top: 20px;
			margin-bottom: 30px;

			width: 100%;
			padding: 1px;
			background-color: $great-brown;	
		}


		ul.projectContainer {

			width: 100%;
			padding: 1px;
			height: $project-pic-height + 2 * $project-hor-item-margin + 2 * 1px;

			div.centering {

				position: relative;
				height: $project-pic-height + 2 * $project-hor-item-margin + 2 * 1px;
				width: $project-pic-width + $project-hor-item-width + 4 * $project-hor-item-margin + 2 * $proj-image-border;
				margin: 0 auto;


				li.image {
					list-style: none;
					margin: $project-hor-item-margin;
					width: $project-pic-width + 2 * $proj-image-border;
					float: left;

					img {
						width: $project-pic-width;
						height: $project-pic-height;
						border: $proj-image-border solid white;
					}
				}

				ul {

					list-style: none;
					margin: $project-hor-item-margin;
					float: left;
					width: $project-hor-item-width;
					height: $project-pic-height;
					color: $best-grey-blue;
/*					background: url("./../assets/leaf/one.png");
					background-size: $project-pic-width $project-pic-height;*/


					/* this is purely for styling the background image upon mobile resize*/
					div.background {
						width: $project-hor-item-width;
						height: $project-pic-height;	
					}

					li.title {
						font-size: $name-font-size / 2;
						margin-bottom: 20px;
						font-family: "open_sanssemibold";
					}

					li.body {
						line-height: 130%;
						font-size: $proj-body-font-size;
					}

				}
			}
		}

		a:link {
		    text-decoration: none;
		    color: $best-grey-blue;
		}

		a:visited {
		    text-decoration: none;
		    color: $best-grey-blue;
		}

		a:hover {
		    text-decoration: underline;
		    color: $slashes-color;
		}

		a:active {
		    text-decoration: underline;
		}		
	}

	#Blog{

		width: 100%;
		padding: 1px;
		background-color: $best-grey-blue;

		div#innerBlog {
			position: relative;
 			margin: 1px;
			width: 100%;
			height: 550px;	
			padding: 1px;
			margin-top: 20px;
		}




		div.blogCentering {

			position: relative;
			height: $blog-item-height + 2 * $blog-date-padding + 2 * $blog-item-margin + 2 * 1px;
			width: $blog-title-width + $blog-date-width + 4 * $blog-item-margin + 2 * $blog-date-padding + $blog-date-border;
			margin: 20px auto;	

			ul.blogContainer {

				width: 100%;
				height: $blog-item-height + 2 * $blog-item-margin + 2 * 1px;

				ul {

					list-style: none;
					display: list-item;
					margin: $blog-item-margin;
					float: left;
					font-size: $blog-title-font-size;
					font-family: "open_sansregular";

				}

				ul.date {
					text-align: right;
					font-size: $blog-date-font-size;
					padding: $blog-date-padding;
					color: white;
					width: $blog-date-width;
					min-height: $blog-item-height;
					border-right: $blog-date-border solid white;

				}

				ul.title {
					text-align: left;
					color: white;
					width: $blog-title-width;
					min-height: $blog-item-height;

					li {



					}

					li.header {
						line-height: 130%;
						font-family: "open_sanssemibold";
						color: white;
					}

					li.subheader {
						margin-top: 10px;
						font-size: $blog-subheader-font-size;
						line-height: 140%;
						color: $even-lighter-gray;

					}
				}
			}

		}

		a:link {
		    text-decoration: none;
		    color: white;
		}

		a:visited {
		    text-decoration: none;
		    color: white;

		}

		a:hover {
		    color: $slashes-color;

		}

		a:active {
		    text-decoration: underline;
		}	
		

	}

	#contact {

		width: 100%;
		padding: 1px;
		padding-top: 30px;
		background-color: $slashes-color;
		height: 595px;

		ul {

			position: relative;
			width: $c-ul-width;
			height: 200px;
			margin: 20px auto;
			padding: $c-ul-padding;

			a {
				display: list-item;
				color: white;
				width: $c-li-width;
				float: left;
				font-family: 'open_sanssemibold';
				list-style: none;
				border: $c-li-border solid white;
				padding: $c-li-padding;
				margin: $c-li-margin;
				font-size: $c-li-font-size;
				text-align: center;
				background-color: $slashes-color;
			}

			a:link {
			    text-decoration: none;
			}

			a:visited {
			    text-decoration: none;
			}

			a:hover {
			    text-decoration: none;
			}

			a:active {
			    text-decoration: underline;
			}
		}

		ul#thisPage {
			width: 380px;
			padding-top: 50px;

			a {
				width: inherit;
				border: none;
				font-family: 'learning_curve_proregular';
				font-size: $c-this-page-font-size;
				padding: 1px;

			}

			a:hover {
			    text-decoration: underline;

			}
		}

	}

}

nav {

	display: block;
	position: fixed;
	top: 0px;
	width: 100%;
	height: $ul-height;
	background-color: $organgish-red;
	border-bottom: 6px solid #DDD6C8;	
	z-index: 4;

	ul {
		position: relative;
		margin: 0 auto;
		margin-top: 6px;
		width: $ul-width;
		height: $ul-height - 2 * $ul-padding;
		padding: $ul-padding;	
	}

	img {
		height: $ul-height;
		margin-top: 63px;

	}

	li {
		list-style: none;
		float: left;
		display: inline;
		vertical-align: center;
		width: $li-width;
		height: $ul-height - 2 * $ul-padding - 2 * $li-padding;
		font-family: 'open_sansregular';
		font-size: $li-font-size;
		padding: $li-padding;
		text-align: center;
		color: white;
		margin: $li-margin;
		cursor: pointer;
		margin-top: -12px;
		padding-top: 15px;

	}

	ul.image {

		position: absolute;
		height: $ul-height * 2;
		width: $li-width * 2/3;
		left: 100px;

	}

	li.image {
		position: relative;
		padding: 0 0 12px 0;
		border-radius: 30px;
		height: $ul-height * 2;
		width: $li-width * 2/3;
		background-color: white;
		margin-top: -70px;
		margin-right: 10px;
		border: 3px solid $slashes-color;
	}

	a {
		color: white;
	}

	a:link {
	    text-decoration: none;
	}

	a:visited {
	    text-decoration: none;
	}

	a:active {
	    text-decoration: none;
	}

}

/******* @Media (max-width: 1000px) ***********/
/*********************************************/

	/******* Project *********/
	/*************************/
	$project-pic-width: $project-pic-width * 4/5;
	$project-hor-item-width: $project-hor-item-width * 4/5; 
	$project-pic-height: $project-pic-width * 1/2;
	$project-hor-item-margin: $project-hor-item-margin * 2/3;
	$proj-image-border: 4px;
	$proj-body-font-size: $proj-body-font-size;

	/******** Blog ***********/
	/*************************/
	/*remove height when you have enough blog entries to fill blog section*/
	$blog-height: $intro-height;
	$blog-title-width: $blog-title-width * 4/5;
	$blog-title-font-size: $blog-title-font-size * 4/5;
	$blog-subheader-font-size: $blog-subheader-font-size * 9/10;
	$blog-date-font-size: $blog-title-font-size / 2;
	$blog-date-width: $blog-title-width/3;
	$blog-item-height: $blog-title-width * 1/4;
	$blog-item-margin: 25px;

	@media (max-width: 1000px) {

		div#contentContainer {

			#Projects {

				div#innerProjects {
					position: relative;
					margin-top: 20px;
					margin-bottom: 30px;
				}


				ul.projectContainer {

					height: $project-pic-height + 2 * $project-hor-item-margin + 2 * 1px;

					div.centering {

						height: $project-pic-height + 2 * $project-hor-item-margin + 2 * 1px;
						width: $project-pic-width + $project-hor-item-width + 4 * $project-hor-item-margin + 2 * $proj-image-border;

						li.image {
							margin: $project-hor-item-margin;
							width: $project-pic-width + 2 * $proj-image-border;

							img {
								width: $project-pic-width;
								height: $project-pic-height;
								border: $proj-image-border solid white;
							}
						}

						ul {

							margin: $project-hor-item-margin;
							width: $project-hor-item-width;
							height: $project-pic-height;
							color: $best-grey-blue;


							div.background {
								width: $project-hor-item-width;
								height: $project-pic-height;	
							}


							li.title {
								font-size: $name-font-size/2;
								margin-bottom: 20px;
							}

							li.body {
								line-height: 130%;
								font-size: $proj-body-font-size;
							}
						}
					}
				}	
			}

		#Blog{


				div#innerBlog {
					height: 500px;	
				}

				div.blogCentering {

					height: $blog-item-height + 2 * $blog-date-padding + 2 * $blog-item-margin + 2 * 1px;
					width: $blog-title-width + $blog-date-width + 4 * $blog-item-margin + 2 * $blog-date-padding + $blog-date-border;

					ul.blogContainer {

						height: $blog-item-height + 2 * $blog-item-margin + 2 * 1px;

						ul {

							margin: $blog-item-margin;
							font-size: $blog-title-font-size;
						}

						ul.date {
							font-size: $blog-date-font-size;
							width: $blog-date-width;
							min-height: $blog-item-height;

						}

						ul.title {
							width: $blog-title-width;
							min-height: $blog-item-height;

							li.header {
							}

							li.subheader {
								font-size: $blog-subheader-font-size;
							}
						}
					}
				}		
			}
		}
	} 

/******* @Media (max-width: 900px) ***********/
/*********************************************/

	/******** Contact *********/
	/**************************/
	$c-li-width: $c-li-width * 4/5;
	$c-li-font-size: $c-li-font-size * 4/5;
	$c-ul-width: ($c-li-width * $c-LIs) + ($c-LIs * 2) * ($c-li-padding + $c-li-margin + $c-li-border) + $c-ul-padding;

	@media (max-width: 900px) {

		div#contentContainer {

			#contact {


				ul {

					width: $c-ul-width;

					a {
						width: $c-li-width;
						font-size: $c-li-font-size;
					}
				}

				ul#thisPage {

					a {
						width: inherit;
					}
				}
			}
		}
	}


/******* @Media (max-width: 850px) ***********/
/*********************************************/


	/******* Intro ***********/
	/*************************/
	$intro-height: 500px;

	$name-font-size: $name-font-size * 4/5;
	$name-words-width: $name-words-width * 4/5;
	$name-slashes-width: $name-words-width/6;
	$name-margin: 40px;
	$title-font-size: $name-font-size * 2/3;


	/******** media query *********/
	/******************************/
	@media (max-width: 850px) {

		div#contentContainer {

			#introduction {

				height: $intro-height;
				
				#name {

					ul {

						width: $name-words-width + $name-slashes-width * 4/5;
						height: $name-font-size;

						#offCenter{

							width: $name-words-width + $name-slashes-width;
							height: $name-font-size;
							margin-left: -30px;

							li {

								font-size: $name-font-size;
								height: $name-font-size;

							}
							
							li#slashes {
								width: $name-slashes-width;
								font-size: $name-font-size * 4/3;
								height: $name-font-size * 4/3;
								margin-right: -15px;
								margin-top: -5px;

							}

							li#words {
								width: $name-words-width;
							}
						}
					}
				}

				#description {

					ul {
						width: $name-words-width + $name-slashes-width;
						height: $name-font-size;
						list-style: none;

						li {
							margin: 65px;
						}

						#title {
							font-size: $title-font-size;
						}

						#catch {
							font-size: $name-font-size * 2/5;
							
							a:link {
							    font-size: $title-font-size;
							}
						}
					}
				}
			}
		}

		nav {

			ul.image {	

				left: 10px;

			}
		}
	}

/******* @Media (max-width: 800px) ***********/
/*********************************************/

	/******* Project *********/
	/*************************/
	$project-pic-width: $project-pic-width * 5/6;
	$project-hor-item-width: $project-hor-item-width * 4/5; 
	$project-pic-height: $project-pic-width * 1/2;
	$project-hor-item-margin: $project-hor-item-margin * 2/3;
	$proj-image-border: 4px;


	/******** media query *********/
	/******************************/
	@media (max-width: 800px) {
		div#contentContainer {

			#Projects {

				div#innerProjects {
					position: relative;
					margin-top: 20px;
					margin-bottom: 30px;
				}


				ul.projectContainer {

					height: $project-pic-height + 2 * $project-hor-item-margin + 2 * 1px;

					div.centering {

						height: $project-pic-height + 2 * $project-hor-item-margin + 2 * 1px;
						width: $project-pic-width + $project-hor-item-width + 4 * $project-hor-item-margin + 2 * $proj-image-border;

						li.image {
							margin: $project-hor-item-margin;
							width: $project-pic-width + 2 * $proj-image-border;

							img {
								width: $project-pic-width;
								height: $project-pic-height;
								border: $proj-image-border solid white;
							}
						}

						ul {

							margin: $project-hor-item-margin;
							width: $project-hor-item-width;
							height: $project-pic-height;
							color: $best-grey-blue;

							div.background {
								width: $project-hor-item-width;
								height: $project-pic-height;	
							}


							li.title {
								font-size: $name-font-size/2;
								margin-bottom: 20px;
							}

							li.body {
								line-height: 130%;
								font-size: $proj-body-font-size;

							}

/*							a:link {
								color: $best-grey-blue;
							}

							a:visited {
							    text-decoration: none;
							    color: $best-grey-blue;
							}*/
						}
					}
				}
			}
		}
	}

/******* @Media (max-width: 750px) ***********/
/*********************************************/

	/******** Contact *********/
	/**************************/
	$c-li-width: $c-li-width * 5/6;
	$c-li-font-size: $c-li-font-size * 5/6;
	$c-li-margin: $c-li-margin / 2;
	$c-ul-width: ($c-li-width * $c-LIs) + ($c-LIs * 2) * ($c-li-padding + $c-li-margin + $c-li-border) + $c-ul-padding;

	/******** Blog ***********/
	/*************************/
	/*remove height when you have enough blog entries to fill blog section*/
	$blog-height: $intro-height;
	$blog-title-width: $blog-title-width * 4/5;
	$blog-title-font-size: $blog-title-font-size * 5/6;
	$blog-subheader-font-size: $blog-subheader-font-size * 14/15;
	$blog-date-font-size: $blog-date-font-size;
	$blog-date-width: $blog-title-width/3;
	$blog-item-height: $blog-title-width * 1/4;
	$blog-item-margin: 25px;

	@media (max-width: 750px) {

		div#contentContainer {

			#Blog{

				div#innerBlog {
					height: 500px;	
				}

				div.blogCentering {

					height: $blog-item-height + 2 * $blog-date-padding + 2 * $blog-item-margin + 2 * 1px;
					width: $blog-title-width + $blog-date-width + 4 * $blog-item-margin + 2 * $blog-date-padding + $blog-date-border;

					ul.blogContainer {

						height: $blog-item-height + 2 * $blog-item-margin + 2 * 1px;

						ul {

							margin: $blog-item-margin;
							font-size: $blog-title-font-size;
						}

						ul.date {
							font-size: $blog-date-font-size;
							width: $blog-date-width;
							min-height: $blog-item-height;

						}

						ul.title {
							width: $blog-title-width;
							min-height: $blog-item-height;

							li.header {
							}

							li.subheader {
								font-size: $blog-subheader-font-size;
								line-height: 130%;

							}
						}
					}
				}		
			}

			#contact {

				ul {

					width: $c-ul-width;

					a {
						width: $c-li-width;
						font-size: $c-li-font-size;
						font-family: 'open_sansregular';
						margin: $c-li-margin;
					}
				}

				ul#thisPage {

					a {
						width: inherit;
					}
				}
			}
		}
	}

/******* @Media (max-width: 700px) ***********/
/*********************************************/

	/******* Intro ***********/
	/*************************/
	$intro-height: 450px;

	$name-font-size: $title-font-size * 4/3;
	$name-slashes-width: $name-words-width * 19/100;
	$name-words-width: $name-words-width * 8/10;
	$name-margin: 40px;
	$title-font-size: $title-font-size;


	/******** media query *********/
	/******************************/
	@media (max-width: 700px) {

		div#contentContainer {

			#introduction {

				height: $intro-height;
				
				#name {

					ul {

						width: $name-words-width + $name-slashes-width;
						height: $name-font-size;

						#offCenter{

							width: $name-words-width + $name-slashes-width;
							height: $name-font-size;
							margin-left: -30px;

							li {

								font-size: $name-font-size;
								height: $name-font-size;

							}
							
							li#slashes {
								width: $name-slashes-width;
								font-size: $name-font-size * 4/3;
								height: $name-font-size * 4/3;
								margin-right: -15px;
								margin-top: -5px;

							}

							li#words {
								width: $name-words-width;
							}
						}
					}
				}

				#description {

					ul {
						width: $name-words-width + $name-slashes-width;
						height: $name-font-size;
						list-style: none;

						li {
							margin: 65px;
						}

						#title {
							font-size: $title-font-size;
						}

						#catch {
							font-size: $name-font-size * 2/5;
							
							a:link {
							    font-size: $title-font-size;
							}
						}
					}
				}
			}
		}

		nav {

			ul.image {
		 		display: none;
			}
		}
	}

/******* @Media (max-width: 650px) ***********/
/*********************************************/

	/******* Project *********/
	/*************************/
	$project-pic-width: $project-hor-item-width * 13/8;
	$project-hor-item-width: $project-hor-item-width * 13/8; 
	$project-pic-height: $project-pic-width * 1/2;
	$project-hor-item-margin: $project-hor-item-margin * 2/3;
	$proj-image-border: 4px;
	$proj-centering-height: $project-pic-height + 2 * $project-hor-item-margin + 2 * 1px;
	$proj-text-block-height: $proj-centering-height / 3;
	$proj-filler-height: $project-pic-height * 11/20;
	$proj-body-font-size: $proj-body-font-size;

	/******** Blog ***********/
	/*************************/
	/*remove height when you have enough blog entries to fill blog section*/
	$blog-height: $intro-height;
	$blog-title-width: $blog-title-width;
	$blog-title-font-size: $blog-title-font-size;
	$blog-subheader-font-size: $blog-subheader-font-size;
	$blog-item-height: $blog-title-width * 1/4;
	$blog-item-margin: 25px;

	/******** Contact *********/
	/**************************/
	$c-li-width: $c-li-width * 4/2;
	$c-li-font-size: $c-li-font-size * 4/2;
	$c-li-height: $c-li-font-size;
	$c-li-margin: $c-li-margin * 2;
	$c-li-border: 2px;
	$c-ul-width: $c-li-width + 2 * ( $c-li-padding + $c-li-margin + $c-li-border + $c-ul-padding ); 
	$c-ul-height: ($c-li-height * $c-LIs) + ($c-LIs * 2) * ($c-li-padding + $c-li-margin + $c-li-border) + 2 * $c-ul-padding;
	/*$c-ul-width: ($c-li-width * $c-LIs) + ($c-LIs * 2) * ($c-li-padding + $c-li-margin + $c-li-border) + $c-ul-padding;*/


	/******** media query *********/
	/******************************/
	@media (max-width: 700px) {

		div#contentContainer {

			#Projects {

				div#innerProjects {
					position: relative;
					margin-top: 0px;
					margin-bottom: 30px;
				}


				ul.projectContainer {

					height: $proj-centering-height;
					margin-top: 30px;


					div.centering {

						height: $project-pic-height + 2 * $project-hor-item-margin + 2 * 1px;
						width: $project-hor-item-width + 2 * $project-hor-item-margin + 2 * $proj-image-border;

						li.image {
							display: none;
						}

						ul {

							margin: $project-hor-item-margin;
							width: $project-hor-item-width;
							height: $project-pic-height;
							color: white;
							border: $proj-image-border solid white;


							div.background {
								width: $project-hor-item-width;
								height: $project-pic-height;
								background-color: rgba(255, 255, 255, 0.1);
							}


							li.title {
								font-size: $name-font-size/2;
								margin-bottom: 20px;
								padding: 5px 5px 5px 10px;
								margin-bottom: 0;
  								width: $project-hor-item-width * 9/20;
   								margin-left: 5px;
 								background: rgb(0, 0, 0); /* fallback color */
   								background: rgba(69, 194, 198, 1);
/*   								border-top: 2px solid white;
   								border-left: 2px solid white;
   								border-right: 2px solid white;*/


							}

							li.body {
								/*line-height: 160%;*/
								font-size: $proj-body-font-size * 11/10;
								/*position: relative;*/
								padding: 5px 5px 5px 10px;
								/*height: $proj-text-block-height * 1/2;*/
								width: $project-hor-item-width * 5/6;
   								/*margin-right: -100px;*/
   								margin-left: 5px;
								background: rgb(0, 0, 0); /* fallback color */
   								background: rgba(69, 194, 198, 1);  								
							}

							a:link {
		    					text-decoration: none;
		    					color: white;
							}

							a:visited {
							    text-decoration: none;
							    color: white;
							}

							a:hover {
		    					text-decoration: underline;
		    					color: white;
							}

							li.filler {
								height: $proj-filler-height;
							}
						}
					}
				}
			}



			#Blog{

				div#innerBlog {
					height: 450px;	
				}

				div.blogCentering {

					height: $blog-item-height + 2 * $blog-item-margin + 2 * 1px;
					width: $blog-title-width + 2 * $blog-item-margin;

					ul.blogContainer {

						height: $blog-item-height + 2 * $blog-item-margin + 2 * 1px;

						ul {

							margin: $blog-item-margin;
							font-size: $blog-title-font-size;
						}

						ul.date {
							display: none;
						}

						ul.title {
							width: $blog-title-width;
							min-height: $blog-item-height;


							li.header {
								padding-bottom: 7px;
								border-bottom: 1px solid white;
							}

							li.subheader {
								font-size: $blog-subheader-font-size;
								line-height: 130%;

							}
						}
					}
				}		
			}

			#contact {

				height: 550px;

				ul#info {

					position: relative;
					width: $c-ul-width;
					height: $c-ul-height;
					margin: 10px auto;
					padding: $c-ul-padding;

					a {
						width: $c-li-width;
						/*height: $c-li-height;*/
						border: $c-li-border solid white;
						padding: $c-li-padding;
						margin: $c-li-margin;
						font-size: $c-li-font-size;
					}
				}

				ul#thisPage {
					width: 380px;
					padding-top: 20px;
					height: 100px;

					a {
						width: inherit;
						border: none;
						font-family: 'learning_curve_proregular';
						font-size: $c-this-page-font-size;
						padding: 1px;

					}

					a:hover {
					    text-decoration: underline;

					}
				}
			}
		}
	}


/******* @Media (max-width: 600px) ***********/
/*********************************************/

	/******* Intro ***********/
	/*************************/
	$intro-height: 450px;

	$name-font-size: $title-font-size;
	/*$name-slashes-width: $name-words-width * 19/100;*/
	$name-words-width: $name-words-width;
	$name-margin: 40px;
	$title-font-size: $title-font-size;

	/******** media query *********/
	/******************************/
	@media (max-width: 600px) {

		div#contentContainer {

			#introduction {

				height: $intro-height;
				
				#name {

					margin-left: 0;
					margin-right: 0;


					ul {

						width: $name-words-width;
						height: $name-font-size;

						#offCenter{

							width: $name-words-width;
							height: $name-font-size;
							margin-left: 0;

							li {

								font-size: $title-font-size * 6/5;
								height: $name-font-size;
								padding-top: 10px;
								/*border-top: 5px solid $slashes-color;*/


							}
							
							li#slashes {
								display: none;
							}

							li#words {
								width: $name-words-width;
							}
						}
					}
				}

				#description {

					ul {
						width: $name-words-width;
						height: $name-font-size;
						list-style: none;

						li {
							margin: 50px 0 50px 0;
						}

						#title {
							/*margin-top: 100px;*/
							font-size: $title-font-size * 7/8;
						}

						#catch {
							font-size: $name-font-size * 3/5;
							/*color: $slashes-color;*/

							a:link {
								color: $slashes-color;
							    font-size: $title-font-size;
							}
						}
					}
				}
			}
		}
	}

/******* @Media (max-width: 600px) ***********/
/*********************************************/

	/******* Project *********/
	/*************************/
	$project-pic-width: $project-pic-width * 4/5;
	$project-hor-item-width: $project-hor-item-width * 4/5; 
	$project-pic-height: $project-pic-width * 1/2;
	$project-hor-item-margin: $project-hor-item-margin * 2/3;
	$proj-image-border: 4px;
	$proj-centering-height: $project-pic-height + 2 * $project-hor-item-margin + 2 * 1px;
	$proj-text-block-height: $proj-centering-height / 3;
	$proj-filler-height: $project-pic-height * 11/20;
	$proj-body-font-size: $proj-body-font-size;

	/******** media query *********/
	/******************************/
	@media (max-width: 500px) {

		div#contentContainer {

			#Projects {

				div#innerProjects {
					position: relative;
					margin-top: 0px;
					margin-bottom: 30px;
				}


				ul.projectContainer {

					height: $proj-centering-height;
					margin-top: 30px;


					div.centering {

						height: $project-pic-height + 2 * $project-hor-item-margin + 2 * 1px;
						width: $project-hor-item-width + 2 * $project-hor-item-margin + 2 * $proj-image-border;

/*						li.image {
							display: none;
						}*/

						ul {

							margin: $project-hor-item-margin;
							width: $project-hor-item-width;
							height: $project-pic-height;
							color: white;
							border: $proj-image-border solid white;


							div.background {
								width: $project-hor-item-width;
								height: $project-pic-height;
								/*background-color: rgba(255, 255, 255, 0.1);*/
							}


							li.title {
								font-size: $name-font-size * 7/10;
								margin-bottom: 20px;
								padding: 5px 5px 5px 10px;
								margin-bottom: 0;
  								width: $project-hor-item-width * 11/20;
   								margin-left: 5px;


							}

							li.body {
								/*line-height: 160%;*/
								font-size: $proj-body-font-size * 9/10;
								/*position: relative;*/
								padding: 5px 5px 5px 10px;
								/*height: $proj-text-block-height * 1/2;*/
								width: $project-hor-item-width * 5/6;								
							}

							a:visited {
							    text-decoration: none;
							    color: white;
							}

							a:hover {
		    					text-decoration: underline;
		    					color: white;
							}

							li.filler {
								height: $proj-filler-height;
							}
						}
					}
				}
			}
		}
	}