/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
@import url(./fonts/texgyreadventorregular.css);
@import url(./fonts/opensans_light_macroman.css);
@import url(./fonts/opensans_regular_macroman.css);
@import url(./fonts/opensans_semibold_macroman.css);
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/*$primary-color: #ecf0f1;*/
/*$primary-color: #3b434f;*/
/*Nav Width Variables*/
/*$li-margin: -1 * 0.1px;*/
/*Having nav-width dependend upon its componants allows for easy responsive design by the touch of $li-width*/
/*Nav Height Variables*/
/*Note that $ul-padding contributes as well*/
/*Note that at the moment, the ul/nav heights do now have any affect on display, and the li heights adjust to li font size*/
/*$container-height: 600px;*/
/*aligning contact info with left side of Nav, starting 50% into page (i.e. left: 50%)*/
body {
  background-color: white; }

div#contentContainer {
  /*display: block;*/
  /*position: absolute;*/
  width: 100%;
  /*height: $container-height;*/
  margin-top: 71.5px; }
  div#contentContainer #introduction {
    height: 600px;
    width: 100%;
    margin-top: 71.5px;
    padding: 1px; }
    div#contentContainer #introduction #image {
      /*display: list-item;*/
      list-style: none;
      margin: 50px; }
      div#contentContainer #introduction #image img {
        max-height: 200px;
        max-width: 175.79365px;
        position: relative;
        /*top: $container-height/4 - $pic-height/2;*/
        /*			left: 50%;	
        			margin-left: -$pic-width/2;*/
        margin: 0 auto;
        border: 1px solid #424151;
        /*border-radius: 6px;*/ }
    div#contentContainer #introduction #name {
      /*display: list-item;*/
      list-style: none;
      margin: 50px; }
      div#contentContainer #introduction #name ul {
        display: block;
        margin: 0 auto;
        width: 525px;
        height: 38px; }
        div#contentContainer #introduction #name ul li {
          font-family: 'open_sansregular';
          font-size: 38px;
          float: left;
          display: block;
          height: 38px;
          text-align: center; }
        div#contentContainer #introduction #name ul li#slashes {
          color: #45C2C6;
          width: 75px;
          font-family: 'open_sanssemibold'; }
        div#contentContainer #introduction #name ul li#words {
          color: #424151;
          width: 450px;
          /*height: $ul-height;*/ }
  div#contentContainer #Projects {
    height: 900px;
    width: 100%;
    padding: 1px;
    background-color: #ddd6c8; }
    div#contentContainer #Projects li {
      list-style: none;
      margin: 50px; }
      div#contentContainer #Projects li img {
        width: 300px;
        height: 200px; }
  div#contentContainer div.blog {
    position: relative;
    /*top: $container-height/4;*/
    left: 50%;
    display: block;
    margin-top: 20px; }
  div#contentContainer #contact {
    height: 600px;
    width: 100%;
    padding: 1px;
    background-color: #45c2c6; }
    div#contentContainer #contact li {
      color: white;
      font-family: 'open_sanssemibold';
      list-style: none;
      max-height: 200px;
      /*max-width: $li-width * 3;*/
      border: 1px solid white;
      padding: 4px;
      margin-top: 30px;
      font-size: 28.75px; }
    div#contentContainer #contact span.title {
      color: white;
      font-family: 'open_sansregular';
      font-size: 19.16667px;
      margin-right: 4px;
      width: 100px;
      display: inline-block; }
    div#contentContainer #contact a {
      color: white; }
    div#contentContainer #contact a:link {
      text-decoration: none; }
    div#contentContainer #contact a:visited {
      text-decoration: none; }
    div#contentContainer #contact a:hover {
      text-decoration: underline; }
    div#contentContainer #contact a:active {
      text-decoration: underline; }
    div#contentContainer #contact a span {
      color: white; }

nav {
  display: block;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 57.5px;
  background-color: #ef4b4c;
  border-bottom: 6px solid #DDD6C8;
  z-index: 5; }
  nav ul {
    position: relative;
    margin: 0 auto;
    margin-top: 6px;
    /*display: block;*/
    width: 653px;
    height: 28.75px;
    padding: 4px; }
  nav img {
    /*		width: $pic-height;*/
    height: 57.5px;
    margin-top: 63px; }
  nav li {
    list-style: none;
    float: left;
    display: inline;
    vertical-align: center;
    width: 115px;
    /*height: ;*/
    font-family: 'open_sansregular';
    font-size: 19.16667px;
    padding: 4px;
    text-align: center;
    color: white;
    background-color: #EF4B4C;
    /*border: $li-border solid white;*/
    margin: 3px;
    cursor: pointer; }
  nav #image {
    position: relative;
    padding: 0 0 12px 0;
    border-radius: 30px;
    height: 115px;
    width: 76.66667px;
    background-color: white;
    margin-top: -70px;
    margin-right: 10px;
    border: 3px solid #45c2c6; }
