
/* html5doctor.com Reset v1.6.1 - http://cssreset.com */
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}

@import './fonts/texgyreadventorregular.css';
@import './fonts/opensans_light_macroman.css';
@import './fonts/opensans_regular_macroman.css';
@import './fonts/opensans_semibold_macroman.css';

$primary-color: white;
/*$primary-color: #ecf0f1;*/
/*$primary-color: #3b434f;*/

/*Nav Width Variables*/
$li-width: 115px;
$li-padding: 4px;
$nav-LIs: 4;
$li-border: 1px;
/*$li-margin: -1 * 0.1px;*/
$li-margin: 3px;
$ul-padding: 4px;
$li-font-size: $li-width/6;

/*Having nav-width dependend upon its componants allows for easy responsive design by the touch of $li-width*/
$ul-width: ($li-width * $nav-LIs) + ($nav-LIs * 2) * ($li-padding + $li-margin) + $ul-padding * 2;

/*Nav Height Variables*/
/*Note that $ul-padding contributes as well*/
/*Note that at the moment, the ul/nav heights do now have any affect on display, and the li heights adjust to li font size*/
$ul-height: $li-width/2;

$container-height: 400px;

$pic-height: $container-height * (2/3);
$pic-width: (1329/1512) * $pic-height;

$name-font-size: 38px;
$name-words-width: 450px;
$name-slashes-width: $name-words-width/6;
$name-margin: 40px;

/*aligning contact info with left side of Nav, starting 50% into page (i.e. left: 50%)*/
$contact-margin-left: -1/2 * ($ul-width) + $ul-padding + $li-margin;



body {
	padding: 8px;
	background-color: $primary-color;
}

div#name {

	ul {

		display: block;
		margin: $name-margin auto 0 auto;
		width: $name-words-width + $name-slashes-width;
		height: $name-font-size;


		li {

			font-family: 'open_sansregular';
			font-size: $name-font-size;
			float: left;
			display: block;
			height: $name-font-size;
			text-align: center;
		}
		
		li#slashes {
			color: #63aeee;
			width: $name-slashes-width;
			font-family: 'open_sanssemibold';

		}

		li#words {
			color: #3b434f;	
			width: $name-words-width;
			/*height: $ul-height;*/
		}

	}
}


div#contentContainer {

	display: block;
	width: 100%;
	height: $container-height;
	

	img {
/*		position: static;*/
		max-height: $pic-height;
		max-width: $pic-width;
		position: relative;
		top: $container-height/2 - $pic-height/2;
		left: 50%;	
		margin-left: -$pic-width/2;
		display: none;
		border: $li-border solid #3b434f;
		/*border-radius: 6px;*/
	
	}

	div.contact {

		position: relative;
		top: $container-height/4;
		left: 50%;	
		display: block;
		margin-left: $contact-margin-left;

		li {

			color: #3b434f;
			font-family: 'open_sanssemibold';
			list-style: none;
			max-height: $pic-height;
			/*max-width: $li-width * 3;*/
			border: $li-border solid #3b434f;
			padding: $li-padding;
			margin-top: $li-margin*10;
			font-size: $li-font-size * 3/2;
		}

		span.title {
			font-family: 'open_sansregular';
			font-size: $li-font-size;
			margin-right: 4px;
			width: 100px;
			display: inline-block;
		}

		a {
			color: #63aeee;
		}

		a:link {
		    text-decoration: none;
		}

		a:visited {
		    text-decoration: none;
		}

		a:hover {
		    text-decoration: underline;
		}

		a:active {
		    text-decoration: underline;
		}

		a span {
			color: #3b434f;		
		}
	}
}

nav {

	display: block;
	/*position: relative;*/
	width: $ul-width + 2 * $ul-padding;
	height: $ul-height;
	margin: 0 auto;


	li {
		list-style: none;
		float: left;
		display: block;
		width: $li-width;
		/*height: ;*/
		font-family: 'open_sansregular';
		font-size: $li-font-size;
		padding: $li-padding;
		text-align: center;
		color: #3b434f;
		background-color: white;
		border: $li-border solid #3b434f;
		margin: $li-margin;
		cursor: pointer;

	}

	ul {
		position: absolute;
		top: $container-height + $name-font-size + $name-margin;
 		display: block;
		width: $ul-width;
		height: $ul-height;
		padding: $ul-padding;	
	}

}


